<!DOCTYPE html>
<html lang="en">
<body>

<div th:fragment="archiveNumberFragment">
    <p th:text="${masterThesisStatusChange.get().nextStatus.getDisplayName()}"></p>
    <form th:action="@{/admin/archiveNumber/{statusId}(statusId=${masterThesisStatusChange.get().id})}" method="POST">
        <input type="hidden" name="thesisId" th:value="${thesisId}">
        <div class="form-group m-2">
            <label for="archiveNumber">Внесете архивски број:</label>
            <input type="text" class="form-control" id="archiveNumber" name="archiveNumber">
        </div>

        <button type="submit" class="btn btn-primary">Валидирај</button>
    </form>
</div>
</body>
</html>