<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="detailsFragment" class="col m-2">
    <div class="m-2" style="padding-bottom: 50px">
        <p><strong>ID на магистерска: </strong>
            <span class="text-center text-dark" th:text="${thesis.id}"></span>
        </p>
        <p><strong>Архивски број: </strong>
            <span class="text-center text-dark" th:text="${thesis.masterThesisApprovalArchiveNumber}"></span>
        </p>
        <p><strong>Студент: </strong>
            <span class="text-center text-dark" th:text="${thesis.getStudent().getIndex()}"></span>
            <span class="text-center text-dark" th:text="${thesis.getStudent().getName()}"></span>
            <span class="text-center text-dark" th:text="${thesis.getStudent().getLastName()}"></span>
        </p>
        <p><strong>Наслов: </strong>
            <span class="text-center text-dark" th:text="${thesis.getTitle()}"></span>
        </p>
        <p><strong>Област: </strong>
            <span class="text-center text-dark" th:text="${thesis.getArea()}"></span>
        </p>
        <p><strong>Кратка содржина: </strong>
        <div class="text-center text-dark" style="max-width: 400px; display: inline-block; word-wrap: break-word;"
             th:text="${thesis.getDescription()}"></div>
        </p>
        <p><strong>Ментор: </strong>
            <span class="text-center text-dark" th:text="${thesis.getMentor().getName()}"></span>
        </p>
        <p><strong>Член 1: </strong>
            <span class="text-center text-dark" th:if="${thesis.getFirstMember() != null}"
                  th:text="${thesis.getFirstMember().getName()}"></span>
            <span th:unless="${thesis.getFirstMember() != null}">No member assigned</span>
        </p>
        <p><strong>Член 2: </strong>
            <span class="text-center text-dark" th:if="${thesis.getSecondMember() != null}"
                  th:text="${thesis.getSecondMember().getName()}"></span>
            <span th:unless="${thesis.getSecondMember() != null}">No member assigned</span>
        </p>
        <p><strong>Координатор: </strong>
            <span class="text-center text-dark" th:if="${thesis.getCoordinator() != null}" th:text="${thesis.getCoordinator().getName()}"></span>
        </p>
        <p><strong>Последно изменета: </strong>
            <span class="text-center text-dark"
                  th:text="${#temporals.format(thesis.getLastUpdate(), 'dd.MM.yyy hh:mm')}"></span>
        </p>
        <p><strong>Датум на одржување: </strong>
            <span class="text-center text-dark" th:if="${thesis.getPresentation() != null}"
                  th:text="${#temporals.format(thesis.getPresentation().getPresentationStartTime(), 'dd.MM.yyy hh:mm')}"></span>
        </p>
        <p><strong>Статус: </strong>
            <span class="text-center text-dark" th:text="${thesis.getStatus().getDisplayName()}"></span>
        </p>
        <p><strong>Следен статус: </strong>
            <span class="text-center text-dark"
                  th:text="${masterThesisStatusChange.get().getNextStatus().getDisplayName()}"></span>
        </p>
    </div>
    <div th:if="${thesis.getStatus().toString() != 'FINISHED'}" class="row">

        <a class="btn btn-outline-primary w-25 m-2"
           th:href="@{/admin/edit/{thesisId}(thesisId=${thesis.getId()})}">Измени</a>


        <form class = "border" th:action="@{/admin/cancel/{thesisId}(thesisId=${thesis.getId()})}" method="POST">
            <input type="hidden" name="statusId" th:value="${masterThesisStatusChange.get().id}">

            <div class="form-group m-2">
                <label for="note">Забелешка</label>
                <textarea class="form-control" id="note" name="note"></textarea>
            </div>

            <button type="submit" class="btn btn-danger m-2">Откажи</button>
        </form>

    </div>
    <div th:replace="~{fragment/downloadFragment :: downloadFragment}"></div>

</div>
</body>
</html>
