<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav aria-label="Page navigation"  th:fragment="pagination(url, page)">
  <ul class="pagination justify-content-center">
    <li th:if="${page.hasPrevious}" class="page-item">
      <a class="page-link text-secondary bg-light rounded-circle m-1"
         th:href="@{__${url}__(page=${page.previousPageable?.pageNumber}, size=${param.size})}"
         aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" class="page-item"
        th:class="${i == page.number ? 'active' : ''}">
      <a class="page-link text-secondary bg-light rounded-circle m-1"
         th:href="@{__${url}__(page=${i}, size=${param.size})}"
         th:text="${i + 1}"></a>
    </li>
    <li th:if="${page.hasNext}" class="page-item">
      <a class="page-link text-secondary bg-light rounded-circle m-1"
         th:href="@{__${url}__(page=${page.nextPageable?.pageNumber}, size=${param.size})}"
         aria-label="Next">
        <span aria-disabled="true">&raquo;</span>
      </a>
    </li>

  </ul>
</nav>
</body>
</html>
