<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="resetFilterFragment(url, size, defaultSize)">
        <div class="row" th:if="${not #strings.isEmpty(currentIndex) ||
                            not #strings.isEmpty(currentTitle) ||
                            currentStatus != null ||
                            not #strings.isEmpty(currentMentor) ||
                            not #strings.isEmpty(currentFirstMember) ||
                            not #strings.isEmpty(currentSecondMember) ||
                            not #strings.isEmpty(isValidation)}">
            <div class="col-4">
                <a th:if="${currentUrl != null}"
                   th:href="${currentUrl.contains('/resetFilterHome') ? '/resetFilterHome' :
                (currentUrl.contains('/masterThesisMentorInfo') ? '/admin/resetFilterMentorInfo' :
                (currentUrl.contains('/masterThesisMemberInfo') ? '/admin/resetFilterMemberInfo' : '/admin/resetFilter'))}"
                   class="btn btn-success text-white border mt-4">Ресетирај Филтер</a>
            </div>
        </div>
</div>


</body>
</html>
