<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<nav class="navbar bg-dark navbar-expand-xl bg-body-tertiary" data-bs-theme="dark">
    <div class="container-xl">
        <img src="../static/finki_mk.png" alt="nema" style="height: 40px; width: auto; margin-left: 10px">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Почетна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Магистерска</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Процедура за магистерска работа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Листа на магистерски</a>
                </li>
            </ul>
            <ul class="navbar-nav inverted  mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">201163</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Одјава</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container-xl">
    <h4 class="mt-2">Постапка за пријавување, одбрана и оцена на дипломска работа</h4>
    <hr>

    <div>
    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p>Валидира</p>
            </div>
            <div class="col">
                <p>Опис</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p>Ментор</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>


    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p>Валидира</p>
            </div>
            <div class="col">
                <p>Опис</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p>Ментор</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>


    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p>Валидира</p>
            </div>
            <div class="col">
                <p>Опис</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p>Ментор</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>


    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p>Валидира</p>
            </div>
            <div class="col">
                <p>Опис</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p>Ментор</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>


    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p>Валидира</p>
            </div>
            <div class="col">
                <p>Опис</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p>Ментор</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p>Валидира</p>
            </div>
            <div class="col">
                <p>Опис</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p>Ментор</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p>Валидира</p>
            </div>
            <div class="col">
                <p>Опис</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p>Ментор</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p>Валидира</p>
            </div>
            <div class="col">
                <p>Опис</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p>Ментор</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p>Валидира</p>
            </div>
            <div class="col">
                <p>Опис</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p>Ментор</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p>Валидира</p>
            </div>
            <div class="col">
                <p>Опис</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p>Ментор</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p>Валидира</p>
            </div>
            <div class="col">
                <p>Опис</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p>Ментор</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>
    </div>



</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
</body>
</html>