<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">


<body>

<div layout:fragment="content">

<div class="container-xl">
    <h4 class="mt-2">Постапка за пријавување, одбрана и оцена на дипломска работа</h4>
    <hr>

    <div>
    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Пријава</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Студент</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Студентот пополнува пријава и прикачува документи.</p>
            </div>
        </div>
    </div>


    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">2. Проверка од ментор</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот валидира</p>
            </div>
        </div>
    </div>


    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">3. Проверка од студенска служба</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Студентска служба</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Студентска служба</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Студентската служба проверува и валидира</p>
            </div>
        </div>
    </div>


    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">4. Проверка од ННК</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Раководител на ННК</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Наставно научна комисија валидира</p>
            </div>
        </div>
    </div>


    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">5. Секретар валидира</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Секретар</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Секретарот валидира</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">6. Студент прикачува драфт</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Студент</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Студентот подготвува и прикачува драфт документ и се праќа известување до професор</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">7. Менторот валидира</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот избира членови на комисија и валидира</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">8. Секретар валидира</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Секретар</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Секретарот валидира</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">9. Проверка од ННК</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Раководител на ННК</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Проверка од ННК</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">10. Секретар валидира</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Секретар</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Секретарот валидира</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">11. Проверка на драфт</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор<br>
                    Член на комисија<br>
                    Студент<br></p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Членови на комисија внесуваат забелешки, студентот го менува драфтот, менторот валидира</p>
            </div>
        </div>
    </div>
    </div>

    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">12. Валидирање на извештај</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Член на комисија</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Членови на комисија проверуваат извештај и валидираат</p>
            </div>
        </div>
    </div>

    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">13. Секретар валидира</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Секретар</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Секретар додава архивски број и валидира</p>
            </div>
        </div>
    </div>

<div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
    <div class="" style="background-color: #dff0d8">
        <h5 class="p-2">14. Студентска служба валидира</h5>
    </div>
    <div class="row m-3">
        <div class="col-3 ">
            <p style="color:black; font-weight:bold;">Валидира</p>
        </div>
        <div class="col">
            <p style="color:black; font-weight:bold;">Студентска служба</p>
        </div>
    </div>

    <div class="row mx-3">
        <div class="col-3">
            <p style="color:black; font-weight:bold;">Опис</p>
        </div>
        <div class="col">
            <p>Студентска служба архивира и валидира</p>
        </div>
    </div>
</div>


<div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
    <div class="" style="background-color: #dff0d8">
        <h5 class="p-2">15. Процесот е завршен</h5>
    </div>
    <div class="row m-3">
        <div class="col-3 ">
            <p style="color:black; font-weight:bold;">Валидира</p>
        </div>
        <div class="col">
            <p style="color:black; font-weight:bold;"></p>
        </div>
    </div>

    <div class="row mx-3">
        <div class="col-3">
            <p style="color:black; font-weight:bold;">Опис</p>
        </div>
        <div class="col">
            <p>Процесот е завршен и се чека одбрана на трудот</p>
        </div>
    </div>
</div>
</div>

</div>

</body>
</html>