<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">


<body>

<div layout:fragment="content">

<div class="container-xl">
    <h4 class="mt-2">Постапка за пријавување, одбрана и оцена на дипломска работа</h4>
    <hr>

    <div>
    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>


    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>


    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>


    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>


    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>



    <div class="row rounded border m-4 " style="border-color: #dff0d8; color: #3c763d">
        <div class="" style="background-color: #dff0d8">
            <h5 class="p-2">1. Наслов на чекорот</h5>
        </div>
        <div class="row m-3">
            <div class="col-3 ">
                <p style="color:black; font-weight:bold;">Валидира</p>
            </div>
            <div class="col">
                <p style="color:black; font-weight:bold;">Ментор</p>
            </div>
        </div>

        <div class="row mx-3">
            <div class="col-3">
                <p style="color:black; font-weight:bold;">Опис</p>
            </div>
            <div class="col">
                <p>Менторот, по договор со студентот, ја пополнува формата за нова пријава, достапна на линкот “Нова пријава”. Се пополнуваат полињата за Тема, Област и Кратка содржина. Дополнително, Член 1 содржи листа само на професори, а Член 2 содржи листа на асистенти и професори. Системот праќа известување по електронска пошта до студентот.</p>
            </div>
        </div>
    </div>
    </div>



</div>

</div>
</body>
</html>