<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <h3>Детали за нашите магистерски работи</h3>
    <div class="row">
      <div >
        <h1 ></h1>
      </div>
    </div>


    <div th:replace="~{fragment/choosePageSizeFragment :: pageSizeFragment('/admin/masterThesisMemberInfo', ${size})}"></div>

    <div th:if="${size > 0}">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="text-nowrap, text-center text-dark fw-bold" scope="col">#id</th>
        <th class="text-nowrap, text-center text-dark fw-bold" scope="col">Индекс на студент</th>
        <th class="text-nowrap, text-center text-dark fw-bold" scope="col">Наслов</th>
        <th class="text-nowrap, text-center text-dark fw-bold" scope="col">Ментор</th>
        <th class="text-nowrap, text-center text-dark fw-bold" scope="col">Прв Член</th>
        <th class="text-nowrap, text-center text-dark fw-bold" scope="col">Втор Член</th>
        <th class="text-nowrap, text-center text-dark fw-bold" scope="col">Статус</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${master_page != null}" th:each="thesisItem : ${master_page.content}">
        <th class="text-nowrap, text-center text-dark fw-bold" scope="row" th:text="${thesisItem.id}"></th>
        <td class="text-center text-dark" th:text="${thesisItem.getStudent().getIndex()}"></td>
        <td class="text-center text-dark" th:text="${thesisItem.getTitle()}"></td>
        <td class="text-center text-dark" th:text="${thesisItem.getMentor().getName()}"></td>
        <td class="text-center text-dark" th:text="${thesisItem.getFirstMember().getName()}"></td>
        <td class="text-center text-dark" th:text="${thesisItem.getSecondMember().getName()}"></td>
        <td class="text-center text-dark" th:text="${thesisItem.getStatus().getDisplayName()}"></td>
        <td><a class="btn btn-info" th:href="@{details/{thesisId}(thesisId=${thesisItem.id})}">Види повеќе детали</a></td>
      </tr>
      </tbody>
    </table>

      <div th:replace="~{fragment/paginationFragment :: pagination('/admin/masterThesisMemberInfo', ${master_page})}"></div>

    </div>
    </div>

  <div th:replace="~{fragment/noElementsFoundFragment :: noElementsFragment(${size})}"></div>

</div>
</body>
</html>
