<!DOCTYPE html>
<html lang="mk" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-lg">
        <div class="row border p-4 mt-4 mb-4">
            <div class="col m-2">
                <p th:text="${masterThesisStatusChange.get().nextStatus.getDisplayName()}"></p>
                <form>
                    <div class="form-group m-2">
                        <label for="note">Забелешка</label>
                        <input type="text" class="form-control" id="note" name="note">
                    </div>
                    <div class="form-group m-2">
                        <button type="submit" class="btn btn-secondary">Одобрено</button>
                        <button type="submit" class="btn btn-danger">Одбиено</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col m-2" style="height: 800px; background-color: #3c763d">
                Сите детали за магистерската
            </div>
            <div class="col m-2" style="height: 800px; background-color: cadetblue">
                КАРТИЧКИ од прва до последна најдолу првиот статус најгоре моменталниот со приказ на коментарите
            </div>
        </div>
        <div class="row">
            <div class="col m-2" style="height: 200px; background-color: #0bb4e7">
                 СИТЕ ПРИКАЧЕНИ ДОКУМЕНТИ
            </div>
        </div>
    </div>
</div>

</body>
</html>