<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<body>

<div layout:fragment="content">
<div class="container-xl">

    <div th:each="masterThesis : ${MasterThesis}">

    <div class="row rounded border m-4  " >
        <div class="bg-light" style="background-color: #dff0d8">
            <h5 class="p-2" th:text="${masterThesis.getTitle()}"></h5>
        </div>

        <table class="table table-striped table-bordered mx-auto mt-3" style="width: 98%">

            <tbody>
            <tr>
                <td style="width: 25%">Студент</td>
                <td>
                    <span th:text="${masterThesis.getStudent().getIndex()}"></span> - <span th:text="${masterThesis.getStudent().getName()}"></span>
                    <span th:text="${masterThesis.getStudent().getLastName()}"></span>
                </td>

            </tr>
            <tr>
                <td>Ментор</td>
                <td th:text="${masterThesis.getMentor().getName()}"></td>
            </tr>
            <tr>
                <td>Член 1</td>
                <td th:text="${masterThesis.getFirstMember().getName()}"></td>

            </tr>
            <tr>
                <td>Член 2</td>
                <td th:text="${masterThesis.getSecondMember().getName()}"></td>

            </tr>
            <tr>
                <td>Датум на пријавување</td>
                <td><span th:if="${masterThesis.getPresentation()} != null" th:text="${masterThesis.getPresentation().getPresentationStartTime()}"></span></td>
            </tr>
            <tr>
                <td>Статус</td>
                <td th:text="${masterThesis.getStatus().getDisplayName()}"></td>

            </tr>
            <tr>
                <td>Датотека</td>
                <td>не постои</td> <!--TODO: da se napravi backend za fajlovi-->
            </tr>
            <tr>
                <td>Краток опис</td>
                <td th:text="${masterThesis.getDescription()}"></td>

            </tr>
            </tbody>
        </table>
    </div>

    </div>

</div>
</div>

</body>
</html>