<!DOCTYPE html>
<html lang="mk" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .drop-zone {
            border: 2px dashed #ccc;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
        }

        .file-label {
            margin-top: 10px;
        }

        .file-input {
            display: none;
        }

        .labelClass {
            cursor: pointer;
            transition: color 0.3s ease;

        }

        .labelClass:hover strong {
            color: #0bb4e7;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container-lg">
        <div class="row border p-4 mt-4 mb-4"
             th:if="${admin == true and masterThesisStatusChange.get().getNextStatus().toString() == 'MENTOR_COMMISSION_CHOICE'}">
            <div th:replace="~{fragment/mentorCommissionChoiceFragment :: mentorCommissionChoiceFragment}"></div>
        </div>
        <div class="row border p-4 mt-4 mb-4"
             th:if="${admin == true and (masterThesisStatusChange.get().getNextStatus().toString() != 'MENTOR_COMMISSION_CHOICE'
             and masterThesisStatusChange.get().getNextStatus().toString() != 'STUDENT_DRAFT' and
             masterThesisStatusChange.get().getNextStatus().toString() != 'FOURTH_SECRETARY_VALIDATION')
             }">

            <div th:replace="~{fragment/statusNoteFragment :: statusNoteFragment}"></div>
        </div>

        <div class="row border p-4 mt-4 mb-4"
             th:if="${admin == true and masterThesisStatusChange.get().getNextStatus().toString() == 'STUDENT_DRAFT'}">
            <div th:replace="~{fragment/studentDraftFragment :: studentDraftFragment}"></div>
        </div>
        <div class="row border p-4 mt-4 mb-4"
             th:if="${admin == true and masterThesisStatusChange.get().getNextStatus().toString() == 'FOURTH_SECRETARY_VALIDATION'}">
            <div th:replace="~{fragment/archiveNumberFragment :: archiveNumberFragment}"></div>
        </div>


        <div class="row">
            <div th:replace="~{fragment/detailsFragment :: detailsFragment}"></div>
            <div th:replace="~{fragment/statusHistoryFragment :: statusHistoryFragment}"></div>
        </div>
        <div class="row">
            <div th:replace="~{fragment/downloadFragment :: downloadFragment}"></div>
        </div>
    </div>

    <script>
        const dropZones = document.querySelectorAll('.drop-zone');
        const fileInputs = document.querySelectorAll('.file-input');

        dropZones.forEach((dropZone, index) => {
            const fileInput = fileInputs[index];
            const fileLabel = dropZone.querySelector('.file-label');

            dropZone.addEventListener('dragover', (e) => {
                e.preventDefault();
                dropZone.classList.add('drag-over');
            });

            dropZone.addEventListener('dragleave', () => {
                dropZone.classList.remove('drag-over');
            });

            dropZone.addEventListener('drop', (e) => {
                e.preventDefault();
                dropZone.classList.remove('drag-over');
                const files = e.dataTransfer.files;
                if (files.length > 1) {
                    fileInput.value = '';
                    fileLabel.textContent = 'Only one file is allowed';
                } else {
                    console.log('Files dropped:', files);
                    fileInput.files = files;
                    displayFileName(fileInput.files[0], fileInput, fileLabel);
                }

            });

            fileInput.addEventListener('change', () => {
                console.log('File input changed');
                console.log(fileInput.files);
                displayFileName(fileInput.files[0], fileInput, fileLabel);
            });
        });

        function displayFileName(file, fileInput, fileLabel) {
            const validFileType = 'application/pdf';
            if (file.type === validFileType) {
                fileLabel.textContent = `File: ${file.name}`;
            } else {
                fileInput.value = '';
                fileLabel.textContent = 'Only PDF files are allowed';
            }
        }

    </script>

</div>
</div>
</body>
</html>
