<!DOCTYPE html>
<html lang="mk" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-lg">
        <div class="row border p-4 mt-4 mb-4"
             th:if="${admin == true and masterThesisStatusChange.get().getNextStatus().toString() == 'MENTOR_COMMISSION_CHOICE'}">
            <div th:replace="~{fragment/mentorCommissionChoiceFragment :: mentorCommissionChoiceFragment}"></div>
        </div>
        <div class="row border p-4 mt-4 mb-4"
             th:if="${admin == true and (masterThesisStatusChange.get().getNextStatus().toString() != 'MENTOR_COMMISSION_CHOICE'
             and masterThesisStatusChange.get().getNextStatus().toString() != 'STUDENT_DRAFT' and
             masterThesisStatusChange.get().getNextStatus().toString() != 'FOURTH_SECRETARY_VALIDATION')
             }">

            <div th:replace="~{fragment/statusNoteFragment :: statusNoteFragment}"></div>
        </div>

        <div class="row border p-4 mt-4 mb-4"
             th:if="${admin == true and masterThesisStatusChange.get().getNextStatus().toString() == 'STUDENT_DRAFT'}">
            <div th:replace="~{fragment/studentDraftFragment :: studentDraftFragment}"></div>
        </div>
        <div class="row border p-4 mt-4 mb-4"
             th:if="${admin == true and masterThesisStatusChange.get().getNextStatus().toString() == 'FOURTH_SECRETARY_VALIDATION'}">
            <div th:replace="~{fragment/archiveNumberFragment :: archiveNumberFragment}"></div>
        </div>


        <div class="row">
            <div th:replace="~{fragment/detailsFragment :: detailsFragment}"></div>
            <div th:replace="~{fragment/statusHistoryFragment :: statusHistoryFragment}"></div>
        </div>
        <div class="row">
            <div th:replace="~{fragment/downloadFragment :: downloadFragment}"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>
