<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>
<header class="header">
    <nav class="navbar bg-dark navbar-expand-xl bg-body-tertiary" data-bs-theme="dark">
        <div class="container-xl">
            <img src="http://diplomski.finki.ukim.mk/Images/finki_mk.png" alt="nema" style="height: 40px; width: auto; margin-left: 10px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Почетна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/list-masters" sec:authorize="hasRole('ROLE_ADMIN')">Магистерска</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.finki.ukim.mk/mk/enrollment/magisterski-studii" target="_blank">Информации за магистерска работа</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list-MasterThesis">Листа на магистерски</a>
                    </li>
                </ul>
                <ul class="navbar-nav inverted  mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="${user != null ? '/index' : '/login'}">
                            <span th:if="${user != null}" th:text="${user}"></span>
                            <span th:unless="${user != null}">Најава</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Одјава</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

</body>
</html>