<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <title>Add new master thesis</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container-lg">
        <h2>Пријава на магистарска работа</h2>
        <form th:action="@{/admin/newMasterThesis}" method="POST">
            <div class="mb-3">
                <label for="index" class="form-label">Индекс</label>
                <input type="text" required class="form-control" id="index" name="index">
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Тема</label>
                <input type="text"  class="form-control" required
                        id="title"
                        name="title">
            </div>

            <div class="mb-3">
                <label for="area" class="form-label">Област</label>
                <input
                        type="text"
                        class="form-control"
                        required
                        id="area"
                        name="area">
            </div>


            <div class="mb-3">
                <label for="description" class="form-label">Кратка содржина</label>
                <textarea
                        class="form-control"
                        required
                        id="description"
                        name="description"></textarea>
            </div>
            <div class="mb-3">
                <label for="mentor" class="form-label">Ментор</label>
                <select id="mentor" name="mentor" class="form-select" required>
                    <option value="" disabled selected>Изберете</option>
                    <option th:each="professor : ${professors}"
                            th:value="${professor.getId()}" th:text="${professor.getName()}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="firstMember" class="form-label">Член 1</label>
                <select id="firstMember" name="firstMember" class="form-select" required>
                    <option value="" disabled selected>Изберете</option>
                    <option th:each="member : ${members}"
                            th:value="${member.getId()}" th:text="${member.getName()}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="secondMember" class="form-label">Член 2</label>
                <select id="secondMember" name="secondMember" class="form-select" required>
                    <option value="" disabled selected>Изберете</option>
                    <option th:each="member : ${members}"
                            th:value="${member.getId()}" th:text="${member.getName()}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Внеси</button>
        </form>

    </div>
</div>
</body>
</html>